In [1]:
import numpy as np
import pandas as pd

# Loading Data

In [2]:
df = pd.read_csv('balance-scale.csv')

In [3]:
df

    Class  L-Weight  L-Distance  R-Weight  R-Distance
0       B         1           1         1           1
1       R         1           1         1           2
2       R         1           1         1           3
3       R         1           1         1           4
4       R         1           1         1           5
..    ...       ...         ...       ...         ...
620     L         5           5         5           1
621     L         5           5         5           2
622     L         5           5         5           3
623     L         5           5         5           4
624     B         5           5         5           5

[625 rows x 5 columns]

# Data Analysis

In [4]:
df.isnull().sum()

Class         0
L-Weight      0
L-Distance    0
R-Weight      0
R-Distance    0
dtype: int64

In [5]:
df.shape

(625, 5)

In [6]:
df['Class'].unique()

array(['B', 'R', 'L'], dtype=object)

In [7]:
class_ids = {"B":0, "R":1, "L":2}

In [8]:
df_trimmed = df.drop(['Class'],axis=1)
df_trimmed

     L-Weight  L-Distance  R-Weight  R-Distance
0           1           1         1           1
1           1           1         1           2
2           1           1         1           3
3           1           1         1           4
4           1           1         1           5
..        ...         ...       ...         ...
620         5           5         5           1
621         5           5         5           2
622         5           5         5           3
623         5           5         5           4
624         5           5         5           5

[625 rows x 4 columns]

# Normalization

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
normalized_data = scaler.fit_transform(df_trimmed)

In [10]:
df_nd = pd.DataFrame(normalized_data)
df_nd

       0    1    2     3
0    0.0  0.0  0.0  0.00
1    0.0  0.0  0.0  0.25
2    0.0  0.0  0.0  0.50
3    0.0  0.0  0.0  0.75
4    0.0  0.0  0.0  1.00
..   ...  ...  ...   ...
620  1.0  1.0  1.0  0.00
621  1.0  1.0  1.0  0.25
622  1.0  1.0  1.0  0.50
623  1.0  1.0  1.0  0.75
624  1.0  1.0  1.0  1.00

[625 rows x 4 columns]

In [11]:
df['balance_ids'] = df.Class.map(class_ids)

In [12]:
df

    Class  L-Weight  L-Distance  R-Weight  R-Distance  balance_ids
0       B         1           1         1           1            0
1       R         1           1         1           2            1
2       R         1           1         1           3            1
3       R         1           1         1           4            1
4       R         1           1         1           5            1
..    ...       ...         ...       ...         ...          ...
620     L         5           5         5           1            2
621     L         5           5         5           2            2
622     L         5           5         5           3            2
623     L         5           5         5           4            2
624     B         5           5         5           5            0

[625 rows x 6 columns]

# Testing and Training

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train , X_test , Y_train , Y_test = train_test_split(df[['L-Weight', 'L-Distance', 'R-Weight' , 'R-Distance']], df['balance_ids'], test_size = 0.30 , random_state = 0, shuffle = False)

In [15]:
X_train

     L-Weight  L-Distance  R-Weight  R-Distance
0           1           1         1           1
1           1           1         1           2
2           1           1         1           3
3           1           1         1           4
4           1           1         1           5
..        ...         ...       ...         ...
432         4           3         2           3
433         4           3         2           4
434         4           3         2           5
435         4           3         3           1
436         4           3         3           2

[437 rows x 4 columns]

In [16]:
X_test

     L-Weight  L-Distance  R-Weight  R-Distance
437         4           3         3           3
438         4           3         3           4
439         4           3         3           5
440         4           3         4           1
441         4           3         4           2
..        ...         ...       ...         ...
620         5           5         5           1
621         5           5         5           2
622         5           5         5           3
623         5           5         5           4
624         5           5         5           5

[188 rows x 4 columns]

In [17]:
Y_train

0      0
1      1
2      1
3      1
4      1
      ..
432    2
433    2
434    2
435    2
436    2
Name: balance_ids, Length: 437, dtype: int64

In [18]:
Y_test

437    2
438    0
439    1
440    2
441    2
      ..
620    2
621    2
622    2
623    2
624    0
Name: balance_ids, Length: 188, dtype: int64

# Decision Tree Classifier

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
clf = DecisionTreeClassifier(random_state = 0)

In [21]:
clf.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=0)

In [22]:
Y_predict = clf.predict(X_test)

In [23]:
Y_predict

array([0, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 0, 1, 2, 2, 0, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 1, 1, 2, 2, 0, 1, 1, 2, 2, 2,
       0, 1, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 1, 1, 1, 2, 0, 1, 1, 1, 2, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 1, 2, 2, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2,
       2, 0, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 1, 1, 2, 2, 0, 1, 1], dtype=int64)

# Evaluation Methods

In [24]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [25]:
mean_squared_error(Y_test , Y_predict)

0.46808510638297873

In [26]:
confusion_matrix(Y_test, Y_predict)

array([[  0,  14,   0],
       [  0,  38,   0],
       [ 15,  14, 107]], dtype=int64)

In [27]:
accuracy_score(Y_test, Y_predict)

0.7712765957446809

# HyperParameter Tuning

In [29]:
param_dist = {
    "criterion":["gini", "entropy"],
    "max_depth":[1,2,3,4,5,6,7,None]
}

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
grid = GridSearchCV(clf, param_grid = param_dist, cv = 10, n_jobs = -1)

In [32]:
grid.fit(X_train, Y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=0), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,...
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435])})

In [33]:
# For Calculating Best Accuracy
grid.best_score_

0.6998414376321354

In [34]:
grid.best_params_

{'criterion': 'gini', 'max_depth': 5}